#nav-signup{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #F4F7F6;
}
.main{
  padding: 10px;
}
#header{
    float: left;
    width: 1000px;
    max-height: 400px;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #F4F7F6;
    color: #FFFFFF; 
    font-weight: 500;
  }
body h2{
  color: #ffffff;
}

.flex_signup{
  display: flex;
  flex-direction: row;
}


.body{
    background-color: #eee3d2;
    padding: 10px;
    margin: 15px;
    width: 100%;
    border-radius: 9px;
}
.body_users{
  background-color: #eee3d2;
  padding: 20px;
  margin: 15px;
  width: 100%;
  border-radius: 9px;
  min-height: 710px;
  max-height: 100%;
}

  /* Container principal da navegação */
.d-flex {
  display: flex;
    background-color: #5C7362; /* Fundo compartilhado */
    padding: 1rem 2rem; /* Espaçamento interno */
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 100%;
}
.nav_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 58%;
}

/* Links da navegação */
.navbar-brand,
.nav-link {
  display: inline-block;
  margin: 0 1.5rem; /* Espaçamento entre os links */
  font-size: 1.1rem;
  font-weight: bold;
  color: #F4F7F6; /* Texto branco */
  text-decoration: none; /* Remove sublinhado */
  padding: 0.5rem 0; /* Espaçamento interno */
  position: relative; /* Necessário para o efeito inovador */
  transition: color 0.3s ease, transform 0.2s ease;
}
/* Efeito de destaque ao passar o mouse */
.navbar-brand:hover,
.nav-link:hover {
  color: #A8D5BA; /* Texto em verde claro no hover */
  transform: translateY(-3px); /* Leve movimento para cima */
}

/* Destaque visual ativo */
.navbar-brand.active,
.nav-link.active {
  color: #FFD700; /* Dourado para o link ativo */
  text-shadow: 0 0 10px #FFD700; /* Efeito de brilho */
}

/* Efeito de barra contínua ao passar o mouse */
.navbar-brand:hover::before,
.nav-link:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px; /* Altura da barra */
  background: #A8D5BA; /* Cor da barra */
  border-radius: 4px; /* Bordas arredondadas */
  transform: scaleX(1); /* Expande a barra */
  transition: transform 0.3s ease;
}

/* Estado padrão da barra contínua */
.navbar-brand::before,
.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: transparent; /* Invisível inicialmente */
  transform: scaleX(0); /* Contraída */
  transition: transform 0.3s ease;
}
/* BARRA DE PESQUISA */
.pesquisa{
  display: flex;
  justify-content: end;
  float: right;
  width: 45%;
}
.pesquisa input{
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
}

.pesquisa button{
  padding: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #aa8724;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.pesquisa button:hover{
  background-color: #fff;
  color: #aa8724;
}

/* Container geral da página */
.container {
    max-width: 1200px;
    margin: 2rem auto; /* Centraliza o conteúdo */
    padding: 2rem; /* Espaçamento interno */
    border-color: #f9c739;
    border-width: 5px;
    border-style:solid ;
    background-image: url("../../assets/AgendaPAE.jpg");
    /* background-color: #F4F7F6; Cor de fundo suave */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  /* Container geral da página */
.container_signup {
  width: 400px;
  margin: 2rem auto; /* Centraliza o conteúdo */
  padding: 2rem; /* Espaçamento interno */
  border-color: #f9c739;
  border-width: 5px;
  border-style:solid ;
  background-image: url("../../assets/AgendaPAE.jpg");
  /* background-color: #F4F7F6; Cor de fundo suave */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

  /* Título da seção */
h3 {
    font-size: 1.8rem;
    /* font-weight: bold; */
    color: #e0e0e0; /* Cor verde da navegação */
    margin-bottom: 1.5rem; /* Espaçamento abaixo do título */
    border-bottom: 2px solid #e0e0e0; /* Linha de separação abaixo do título */
    padding-bottom: 0.5rem;
  }

/* Tabela */
.table {
    width: 100%;
    margin-top: 2rem; /* Espaçamento superior */
    border-collapse: collapse; /* Remove espaçamento entre as células */
  }
  .table_signup {
    width: 300px;
    margin-top: 2rem; /* Espaçamento superior */
    border-collapse: collapse; /* Remove espaçamento entre as células */
  }
  
  /* Estilo das células da tabela */
  .table th, .table td {
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    border-bottom: 2px solid #e0e0e0; /* Linha de separação suave entre as linhas */
  }
  
  .table th {
    background-color: #3D5045; /* Cor do cabeçalho */
    color: #FFFFFF; /* Cor do texto no cabeçalho */
    font-weight: 400;
  }
  
  .table tbody tr:hover {
    transition: background-color 0.3s ease;
    background-color: #eee3d244; /* Cor de fundo suave ao passar o mouse */
  }
  /* Estilo das células da tabela */
  .table_signup th, .table_signup td {
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    border-bottom: 2px solid #e0e0e0; /* Linha de separação suave entre as linhas */
  }
  
  .table_signup th {
    background-color: #3D5045; /* Cor do cabeçalho */
    color: #FFFFFF; /* Cor do texto no cabeçalho */
    font-weight: 400;
    
  }
  
  .table_signup tbody tr:hover {
    transition: background-color 0.3s ease;
    background-color: #eee3d244; /* Cor de fundo suave ao passar o mouse */
  }

  .actions{
    display: flex;
    flex-direction: row;
    gap: 10px
  }
  
  /* Estilo da ação do usuário */
  .bottom_read {
    background-color: #3D5045; /* Cor de fundo dos botões de ação */
    color: #FFFFFF; /* Cor do texto */
    padding: 0.5rem 1rem;
    border-radius: 4px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    transition: background-color 0.3s ease;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Fonte padrão */
  }
  .bottom_read:hover {
  background-color: #54946a; /* Tom mais claro */
}

  .bottom_update {
    background-color: #aa8724; /* Cor de fundo dos botões de ação */
    color: #FFFFFF; /* Cor do texto */
    padding: 0.5rem 1rem;
    border-radius: 4px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    transition: background-color 0.3s ease;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Fonte padrão */
  }
  .bottom_update:hover {
    background-color: #ebc459; /* Tom mais claro */
  }

  .bottom_delete {
    background-color: #7d1900; /* Cor de fundo dos botões de ação */
    color: #FFFFFF; /* Cor do texto */
    padding: 0.5rem 1rem;
    border-radius: 4px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    transition: background-color 0.3s ease;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Fonte padrão */
  }
  .bottom_delete:hover {
    background-color: #e13434; /* Tom mais claro */
  }
  
  /* Efeito de hover para a ação do usuário */
  .table td .UserAction:hover {
    background-color: #f9c739; /* Cor de fundo ao passar o mouse */
  }



/*CREATE DOS CADASTROS
/* Estilo geral do container */
.container-create {
    background-color: #f5efe3; /* Cor de fundo bege */
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  .container-create h3 {
    font-family: Arial, sans-serif;
    color: #FFFFFF; /* Cor verde-escuro */
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Estilo do formulário */
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas de tamanho igual */
    gap: 20px; /* Espaço entre os campos */
  }
  
  /* Estilo dos campos de entrada */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control, .form-select {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #3D5045; /* Cor amarela */
    color: #FFFFFF;
    font-size: 17px;
  }
  
  .form-control:focus, .form-select:focus {
    outline: none;
    border-color: #5aff83;
    box-shadow: 0 0 5px rgba(71, 144, 75, 0.447);
  }
  
  /* Botões */
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .btn-outline-success {
    background-color: #3D5045;
    color: #F4F7F6;
    transition: background-color 0.3s ease;
  }
  .btn-outline-success:hover{
    background-color: #54946a;
  }
  
  .btn-outline-info {
    background-color: #aa8724;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  .btn-outline-info:hover {
    background-color: #ebc459;
  }
  .btn-outline-danger{
    background-color: #7d1900;
    color: #F4F7F6;
    transition: background-color 0.3s ease;
  }
  .btn-outline-danger:hover{
    background-color: #e13434;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  /* Para que os botões fiquem em uma linha separada */
  .form-group.p-2 {
    grid-column: span 3; /* Ocupa toda a largura da grid */
    text-align: center;
  }

  .alert-success, .alert-danger{
    color: #3D5045;
    margin: 10px 5px 0;
    text-decoration: none;
  }
  .alert-link{
    color: #aa8724;
    text-decoration: none;
  }
  
  


/* 
#menuSignup {
    background-color: #5C7362;
    display: flex;
    margin-left: 0px;
}

#menu_ul{
    margin: 40px;
}

#ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #5C7362;
    background-color: #F2B705;
    width: 300px;
    height: 50px;
    margin: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3em;
} */

/* Responsividade */
@media screen and (max-width: 768px) {
    #pages-info {
      grid-template-columns: 1fr;
    }
  }
  
  
  /* Ajuste de responsividade - Em telas menores, a tabela deve ocupar o máximo possível */
  @media (max-width: 768px) {
    .table th, .table td {
      font-size: 0.9rem; /* Reduz o tamanho da fonte para telas pequenas */
      padding: 0.8rem; /* Ajuste no padding */
    }
  
    h3 {
      font-size: 1.5rem; /* Ajuste no tamanho do título */
    }
  }